
.TopBar{
    height: 0px !important;
}

.navbar{
    padding: 1rem 50px !important; 
    z-index: 1000;

}

.btn-secondary {
    color:transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
}
  
  
  